/* 주문하기 버튼 */
.order {
    z-index:999;
    position:fixed; bottom:50px; right:120px;
}
.order #order_btn {
    font-size:1.44rem; letter-spacing:-0.02em;
    font-weight:700; color: #fff;;
    padding:10px 30px; 
    border:2px solid #C8D6BA;
    border-radius:30px;
    transition: all 0.5s;
    background:linear-gradient(-45deg, #C8D6BA, #799B44, #3B6018, #1B3601);
    background-size:200%; 
    animation: bg 3s ease alternate infinite;
}
.order #order_btn:hover {
    background:#1B3601;
    color: #fff;
    border:2px solid #1B3601;
}
@keyframes bg {
    0% {background-position: 0 0;}
    100% {background-position: 100% 50%;} 
    /*45도로 색상이 대각선 아래로 있기 때문에 x,y둘다 값 적용*/
}

/* section 묶음 */
section {
    padding:150px 0;
    z-index:100;
}
/* title 묶음 */
section .txt .title {
    text-align: center;
    font-size: 3.125rem; letter-spacing:-0.02em;
    font-weight: 700;
    margin-bottom: 50px;
    color: #1B3601;
}
/* section01 */
.section01_bg {
    width:100%;  margin: 0 auto;
    background:url(../images/bg_1.png) no-repeat center 100%;
    background-size:100%;
    position: relative; /* 마우스 img 기준 */
}
.section01_bg .section01 {
    width:calc(100% - 240px); margin:0 auto;
    display: flex; flex-flow: column nowrap;
    align-items: end;
    padding-bottom:400px;
}
.section01_bg .section01 .minititle {
    border: 2px solid #fff;
    border-radius: 30px;
    display: inline;
    color: #fff;
    padding:12px 20px;
    font-size: 1.2rem; letter-spacing:-0.02em;
    font-weight: 500;
    margin-bottom: 40px;
}
.section01_bg .section01 h1 {
    text-align: end;
    font-size: 5rem; letter-spacing:-0.02em;
    font-weight: 300;
    line-height: 105px;
    border-bottom: 2px solid #1B3601;
    color: #1B3601;
    margin-bottom: 40px;
}
.section01_bg .section01 h1 em {
    font-size: 6.25rem; letter-spacing:-0.02em;
    font-weight: 700;
}
.section01_bg .section01 h2 {
    font-size: 2.074rem; letter-spacing:-0.02em;
    font-weight: 500;
    color: #fff;
}
.section01_bg #mouse {
    position:absolute;
    left:50%; bottom:270px;
    width:60px;
    animation:mouse_move 1s linear alternate infinite;
}
@keyframes mouse_move {
    0% {transform:translateY(0);}
    100% {transform:translateY(-20px);}
}

/* section02 */
.section02_bg {background:#C8D6BA;}
.section02_bg .section02 {
    width:calc(100% - 240px); margin:0 auto; 
    display: flex; flex-flow:column nowrap; justify-content: center; align-items:center;
}
.section02_bg .section02 .txt .title {
    display: flex; color: #1B3601;
    align-items: center; justify-content: center;
}
.section02_bg .section02 .txt .title img {width:45px; margin-left: 10px;}
.section02_bg .section02 iframe {width:1000px; height:700px;}

/* section03 */
.section03 {
    background:#799B44;
    display: flex; flex-flow: column nowrap; align-items: center; justify-content: center;
}
.section03 .txt {margin-bottom: 50px;}
.section03 .txt .minititle {
    margin-top:-20px; text-align: center;
    font-size: 1.44rem; letter-spacing:-0.02em;
    color: #fff;
}
.section03 .txt .minititle em {
    font-weight: 700;
    font-size: 1.44rem; letter-spacing:-0.02em;
}
.section03 .con {
    display: flex; align-items: center; justify-content: space-between;
    /* width: calc(100% - 700px);  */
    margin: 0 auto;
    margin-bottom: 50px;
}
.section03 .con img {width: 450px;}
.section03 .info {
    display: flex; flex-flow: column nowrap; 
    align-items: center; justify-content: center;
}
.section03 .info button {
    font-size: 1.44rem; letter-spacing: -0.02em;
    font-weight: 700; color: #fff;
    padding:20px 80px;
    background:#1B3601;
    margin-bottom: 30px;
    border-radius: 30px;
}
.section03 .info button:hover {
    box-shadow: 1px 1px 10px 1px #1B3601;
}
.section03 .info .period {
    display: flex; align-items: center;
    color: #fff;
}
.section03 .info .period > div {display: flex;}
.section03 .info .period > div .p_tit {
    font-weight: 700; margin-right: 10px; font-size:1.2rem;
    letter-spacing:-0.02em;
}
.section03 .info .period > div .p_con {letter-spacing:-0.02em; font-size:1.2rem;}
.section03 .info .period > p {margin: 0 20px;}

/* section04 */
.section04_bg {
    background: url(../images/bg_4.png) no-repeat center 80%;
    background-size: cover;
}
.section04_bg .section04 {
    width:calc(100% - 240px); margin: 0 auto;
}
.section04_bg .section04 .txt {margin-bottom:20px;}
.section04_bg .section04 .txt .title {}
.section04_bg .section04 .txt .title em {
    font-size: 3.125rem; letter-spacing:-0.02em;
    font-weight: 700; color: #fff;
}
.section04_bg .section04 .txt .minititle {
    margin-top:-20px; 
    text-align: center;
    font-size: 1.44rem; letter-spacing:-0.02em;
    color: #1B3601;
}
.section04_bg .section04 .txt .minititle em {
    font-size: 1.44rem; letter-spacing:-0.02em;
    color: #1B3601; font-weight: 700;
}
.section04_bg .section04 .con {
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
.section04_bg .section04 .con > div {
    display: flex; align-items: center;
    width:450px; padding:20px 90px;
    background:#1B3601;
    border-radius: 50px;
    margin-top:30px;
}
.section04_bg .section04 .con > div img {margin-right:50px;}
.section04_bg .section04 .con > div p {
    font-size:1.44rem; letter-spacing:-0.02;
    color: #fff; font-weight:500;
}
.section04_bg .section04 .info {
    font-weight: 500; letter-spacing:-0.02em;
    text-align: end; color: #1B3601;
    margin-top:90px;
}
.section04_bg .section04 .con .ramen {background:#3B6018;}
.section04_bg .section04 .con .brushing_teeth {background:#4F7A25;}
.section04_bg .section04 .con .curry {background:#71AB38;}

/* section05 */
.section05_bg {
    background: url(../images/bg_5.png) no-repeat center 50%;
    background-size: cover;
}
.section05_bg .section05 {
    width:calc(100% - 240px ); margin: 0 auto;
}
.section05_bg .section05 .txt {}
.section05_bg .section05 .txt .title {}
.section05_bg .section05 .txt .title em {
    font-size: 3.125rem; letter-spacing:-0.02em;
    font-weight: 700; color: #C4E347;
}
.section05_bg .section05 .con {
    display: flex; flex-flow: column nowrap;
}
.section05_bg .section05 .con >div {
    display: flex; align-items:center;
    width: 100%; 
}
.section05_bg .section05 .con >div .c_t_txt {
    display: flex; flex-flow: column nowrap; 
}
.section05_bg .section05 .con >div .c_t_txt .c_tit {
    font-size: 2.074rem; letter-spacing:-0.02em;
    font-weight: 700; color: #fff;
    margin-bottom: 30px;
}
.section05_bg .section05 .con >div .c_t_txt .info {
    font-size: 1.728rem; letter-spacing:-0.02em;
    color: #fff; line-height: 40px;
}
.section05_bg .section05 .con >div img {width:50%; }
.section05_bg .section05 .con .c_top {
    margin-bottom:50px;
    justify-content: flex-end;
}
.section05_bg .section05 .con .c_top .c_t_txt {align-items: end;}
.section05_bg .section05 .con .c_top .c_t_txt .c_tit {}
.section05_bg .section05 .con .c_top .c_t_txt .info {text-align: end;}
.section05_bg .section05 .con .c_top img {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    margin-left: 50px;
}
.section05_bg .section05 .con .c_btm {
    justify-content: flex-start;
}
.section05_bg .section05 .con .c_btm img {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-right: 50px;
}
.section05_bg .section05 .con .c_btm .c_t_txt {}
.section05_bg .section05 .con .c_btm .c_t_txt .c_tit {}
.section05_bg .section05 .con .c_btm .c_t_txt .info {}
.section05_bg .section05 .con .c_btm .c_t_txt .complex {
    margin-top:50px; letter-spacing:-0.02em;
    color: #fff; line-height:29px;
}

/* section06 */
.section06_bg {background:#C8D6BA;}
.section06_bg .section06 {
    width:calc(100% - 240px); margin: 0 auto;
}
.section06_bg .section06 .con {}
.section06_bg .section06 .con ul {
    display: flex; justify-content: space-between;
}
.section06_bg .section06 .con ul li {
    background:#1B3601; 
    width:30%; height:400px;
    display: flex; flex-flow: column nowrap;
    align-items:center; justify-content:center;
    /* padding: 0 10px; */
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    transition: all 0.5s;
}
.section06_bg .section06 .con ul li:nth-child(1):hover {
    background:url(../images/hover_01.png) no-repeat center 100%;
    background-size: cover;
}
.section06_bg .section06 .con ul li:nth-child(2):hover {
    background:url(../images/hover_02.png) no-repeat center 100%;
    background-size: cover;
}
.section06_bg .section06 .con ul li:nth-child(3):hover {
    background:url(../images/hover_03.png) no-repeat center 100%;
    background-size: cover;
}
.section06_bg .section06 .con ul li:hover > * {display: none;}
.section06_bg .section06 .con ul li .first {
    font-size: 2.074rem; letter-spacing:-0.02em;
    font-weight: 700; color: #C4E347;
    margin-bottom:50px;
}
.section06_bg .section06 .con ul li .last {
    font-size: 1.44rem; letter-spacing:-0.02em;
    line-height: 35px; color: #C8D6BA;
    width:250px; 
}

/* section07 */
.section07_bg {
    background: url(../images/bg_7.png) no-repeat center;
    background-size: cover;
}
.section07_bg .section07 {
    width: calc(100% - 240px); margin: 0 auto;
    padding:50px 0;
    background: rgba(255, 255, 255, 0.80);
    display: flex; flex-flow: column nowrap; align-items:center;
}
.section07_bg .section07 .con {}
.section07_bg .section07 .con ul {
    width:900px;
    display: flex; flex-flow: column nowrap; 
    align-items: center;
}
.section07_bg .section07 .con ul li {}
.section07_bg .section07 .con ul li:first-child {margin-bottom:70px;}
.section07_bg .section07 .con ul li .question {display:flex; margin-bottom:50px;}
.section07_bg .section07 .con ul li .question .alphabet {
    font-size: 1.728rem; font-weight: 700; color: #799B44;
    margin-right:20px;
}
.section07_bg .section07 .con ul li .question .info {
    font-size: 1.728rem; letter-spacing:-0.02em; 
    font-weight: 700; color: #799B44;
}
.section07_bg .section07 .con ul li .answer {display:flex;}
.section07_bg .section07 .con ul li .answer .alphabet {
    font-size: 1.728rem; font-weight: 700; 
    margin-right:20px; color: #1B3601;
}
.section07_bg .section07 .con ul li .answer .info {
    font-size: 1.44rem; letter-spacing:-0.02em;
    font-weight: 500; color: #1B3601;
    margin-right:20px; line-height: 35px;
}